services:
  db:
    image: postgres:16
    container_name: memberbuddy_db
    restart: always
    env_file: .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - memberbuddy_pg_data:/var/lib/postgresql/data

volumes:
  memberbuddy_pg_data: